language: objective-c
osx_image: xcode8.3
before_install:
    - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
    - pod setup --verbose
    - pod install --project-directory=Example
before_script:
  - export LANG=en_US.UTF-8
xcode_workspace: car2go_sample.xcworkspace  
script:
- pod lib lint
